

*{
    margin: 0;
    padding: 0;
}
span, p{
    vertical-align: middle;
}
.red{
    color: #F20114;
}
.bold{
    font-weight: bold;
}
.red_bold{
    color: #F20114 !important;
    font-weight: bold;
}
.price{
    color: #F20114;
    font-weight: bold;
}
.global_shadow{
    box-shadow: 0 0 10px #cccccc;
    border: none;
}
.my-bullet{
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    margin: 0 4px;
    background:#9A9A9C;
}
.my-bullet-active{
    width: 30px;
    border-radius: 30px;
    background:#F20114;
}

/* 页眉 */
.page_top{
    width: 100%;
    height: 40px;
    background-color: #F2F2F2;
    font-size: 12px;
}
.page_top > div{
    width: 1260px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page_top_right{
    display: flex;
    align-items: center;
}
.page_top_right > div{
    display: flex;
}
.page_top_right > div > span{
    display: flex;
    align-items: center;
    justify-content: center;
}   
.page_top_right > div:last-child > span:last-child{
    font-weight: bold;
} 
.page_top_icon{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

/* 头部 */
.header_search{
    width: 100%;
    border-bottom: 4px solid #F20114;
}
.header_mian{
    width: 1260px;
    height: 145px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_mian > div:first-child{
    width: 150px;
    height: 90px;
}
.header_mian > div:first-child > img {
    width: 100%;
}
.header_mian > div:nth-child(2){
    width: 595px;
}
.search_tag{
    width: 66px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: #F20114;
    color: #ffffff;
}
.search_box{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #F20114;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_box > div:first-child{
    flex: 1;
    box-sizing: border-box;
    padding: 0 20px;
}
.search_box > div:first-child > input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
}
.search_box > div:last-child{
    width: 115px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: #F20114;
    color: #ffffff;
}
.header_mian > div:last-child{
    width: 90px;
    height: 90px;
}
.header_mian > div:last-child > img {
    width: 100%;
}
/* 主体 */
.main{
    width: 1260px;
    margin: 0 auto;
}
.page_path{
    height: 60px;
    line-height: 60px;
}
.page_path > ul{
    display: flex;
}
.page_path > ul > li{
    list-style: none;
    margin-right: 5px;
    font-size: 12px;
}
.page_path > ul > li:first-child{
    width: 15px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.page_path > ul > li:last-child{
    color: #F20114;
}
/* 遮罩层 */
.mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
    z-index: 1;
    display: none;
}
/* 页脚 */
.footer{
    width: 100%;
    height: 330px;
    box-sizing: border-box;
    padding-top: 25px;
    background-color: #595957;
}
.footer_main{
    width: 1260px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_left{
    height: 100%;
}
.footer_right{
    width: 1060px;
    height: 100%;
}
.footer_r_top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #444442;
}
.footer_service{
    display: flex;
}
.service_list{
    width: 165px;
    border-left: 1px solid #444442;
}
.service_list > span{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    color: #787876;
    font-size: 12px;
    margin-top: -7px;
}
.service_list > span:first-child{
    border-left: 2px solid #F20114;
}
.footer_qrcode > div{
    width: 120px;
    height: 120px;
}
.footer_qrcode > div > img{
    width: 100%;
    height: 100%;
}
.footer_qrcode > p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #787876;
    margin-top: 8px;
}
.footer_r_bottom{
    font-size: 12px;
    color: #787876;
    margin-top: 25px;
}
.footer_img{
    display: inline-block;
    height: 21px;
}
.footer_img > img {
    width: 100%;
    height: 100%;
}
/* 分页器 */
.pager-box:after {
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    content: '';
}

.pager {
    float: left;
    position: relative;
    left: 50%;
    font-family: 微软雅黑;
}

.pager a,
.pager span {
    position: relative;
    left: -50%;
    display: block;
    float: left;
    margin-left: 5px;
    border: 1px solid #b6bcc1;
    padding: 5px 10px;
    text-decoration: none;
    color: #b6bcc1;
    border-radius: 3px;
}

.pager span {
    border: 0;
}

.pager a.js-selected {
    background: #F20114;
    color: #fff;
    border: 1px solid #F20114;
    cursor: default;
}

.pager a.js-disabled {
    background: #f1f1f1;
    border-color: #f1f1f1;
    cursor: default;
    color: #fff;
}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}*/
/* 火狐： */
/* input[type="number"]{-moz-appearance:textfield;}  */

.title_bar_2{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-bottom: 20px;
}
.title_bar_2 > div:first-child {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.title_bar_2 > div:first-child > img{
    width: 100%;
    height: auto;
}

.trade_list{
    margin-top: 35px;
}
.trade_list_header{
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
}
.trade_list ul li{
    list-style: none;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trade_list ul li:nth-child(odd){
    background-color: #FBFBFB;
}
.trade_list ul li:nth-child(even){
    background-color: #fff;
}
.trade_status{
    margin-top: 65px;
    text-align: center;
}
.trade_status > div{
    margin-bottom: 55px;
}
.trade_status > div:nth-child(2){
    font-size: 24px;
    font-weight: bold;
}
.trade_status > div:nth-child(3){
    width: 226px;
    height: 36px;
    border-radius: 5px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background-color: #f20114;
    margin: 0 auto;
    margin-bottom: 90px;
}
.global_box{
    width: 100%;
    margin-bottom: 35px;
    box-sizing: border-box;
    padding: 35px 30px;
}
.step_box{
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.step_box > div{
    width: 333px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
}

.step_box > div > p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #CACACA;
}
.step_box > div.active > span{
    background-color: #f20114;
}
.step_box > div.active > p{
    color: #f20114;
}
.bright{
    display: none;
}
.step_box > div.active > .normal{
    display: none;
}
.step_box > div.active > .bright{
    display: block;
}
.step_box img{
    width: 43px;
    height: 43px;
    margin: 0 10px;
}
.step_box > div > span{
    display: inline-block;
    width: 135px;
    height: 10px;
    background-color: #c9c9c9;
}

.global_table{
    margin-top: 35px;
}
.global_table ul{
    display: flex;
    flex-wrap: wrap;
}
.global_table ul li{
    list-style: none;
    display: flex;
    width: 50%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
}
.global_table ul li div:first-child{
    width: 30%;
    height: 100%;
    text-align: left;
    background-color: #F0F0F0;
    color: #333;
    box-sizing: border-box;
    padding-left: 55px;
}
.global_table ul li div:last-child{
    width: 70%;
    height: 100%;
    text-align: left;
    background-color: #FBFBFB;
    color: #666;
    box-sizing: border-box;
    padding-left: 110px;
}
.global_hand{
    cursor: pointer;
}
