.notice_wrapper{
    margin-top: 50px;
    margin-bottom: 115px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.notice_wrapper .notice{
    width: 1135px;
    height: 500px;
    background-color: blue;
}
.notice_wrapper .hot{
    width: 400px;
    height: 500px;
    background-color: red;
}