.step_box > .pay_time{
    width: 100%;
    text-align: right;
}
.step_box > .pay_time > p{
    width: 100%;
    font-size: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.trade_list_header > div{
    width: 16.6%;
    text-align: center;
}
.trade_list ul li:nth-child(odd){
    background-color: #FBFBFB;
}
.trade_list ul li > div{
    width: 16.6%;
    text-align: center;
}
.global_table ul li > div > input{
    outline: none;
    height: 25px;
    width: 105px;
    font-size: 16px;
}
.pay_type{
    width: 100%;
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
}
.pay_type > div{
    width: 113px;
    height: 37px;
    border-radius: 5px;
    line-height: 37px;
    text-align: center;
    border: 1px solid #f20114;
    color: #f20114;
    margin-right: 50px;
    cursor: pointer;
}
.pay_type > div.active{
    background-color: #f20114;
    color: #ffffff;
}
.deposit{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 75px;
}
.pay_sum{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #FFF8DC;
    box-sizing: border-box;
    padding: 0 75px;
}
.deposit > div:first-child,
.pay_sum > div:first-child{
    font-size: 20px;
    margin-right: 20px;
}
.deposit > div:last-child,
.pay_sum > div:last-child{
    font-size: 20px;
}
.go_pay{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
}
.go_pay > div{
    width: 225px;
    height: 37px;
    border-radius: 5px;
    background-color: #f20114;
    color: #ffffff;
    line-height: 37px;
    text-align: center;
    cursor: pointer;
}